body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 130px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  color: #fff;
  background-color: #000;
}

.box {
  width: 1000px;
}

ul.nav a:hover { color: #000 !important; }
ul.nav a { color: #696969 !important; }
